.button {
  border: none !important;
  border-radius: 2em !important;
  padding: 1em !important;
  font-weight: 700 !important;
  background-color: black !important;
  color: white !important;
  transform: scale(1) !important;
  box-shadow: "5px 5px 5px rgba(46, 46, 46, 0.12)" !important;
}
.button:hover {
  transform: scale(1.005) !important;
  color: black !important;
  background-color: white !important;
  
}