.container {
  padding-bottom: 2em;
}
.title, .facilitator, .description, .time {
  font-family: 'Playfair Display';
}
.title {
  font-weight: 700;
  margin-bottom: .5em;
}

.facilitator {
  font-style: italic;
  margin-bottom: 1.25em;
}

.description {
  margin-bottom: 1em !important;
}

.time {
  font-weight: 700;
}


.category {
  padding: .25em;
}
.a {
  color: #FFF!important;
}
.a:hover {
   color: #00F!important;
}